<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        <h2>Using this website</h2>
        {{ $howto := .Site.GetPage "../content/notes/howto.md" }}
        {{partial "textprocessing.html" (dict "context" $howto) }}
    </article>
      <div class="page-end" id="footer">

        <div>
            {{partial "graphIndex.html" .}}
        </div>

      </div>
    <article>
        {{partial "recent.html" . }}
    </article>
    {{partial "contact.html" .}}
</div>
</body>
</html>
